# Data Analysis using Pnadas 
## Data Frames Basic
###  Data frames is main object in pandas . It is used to represents data with rows and columns (tabular or excell spreadsheet like data )

## Topics
### 1. Creating dataframes
### 2. Dealing with rows and columns
### 3. Operations: nin, max, std, describe
### 4. Condition selection
### 5. Set_index

In [103]:
import pandas as pd
df=pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [104]:
weather_data ={
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':['32','35','28','24','32','31'],
    'windspeed':['6','7','2','7','4','2'],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df=pd.DataFrame(weather_data)
df

        day temperature windspeed  event
0  1/1/2017          32         6   Rain
1  1/2/2017          35         7  Sunny
2  1/3/2017          28         2   Snow
3  1/4/2017          24         7   Snow
4  1/5/2017          32         4   Rain
5  1/6/2017          31         2  Sunny

In [105]:
df.shape

(6, 4)

In [106]:
df.head(2)  #we can print required row using head fxn same in case of tail we can pass the para meter like (5)

        day temperature windspeed  event
0  1/1/2017          32         6   Rain
1  1/2/2017          35         7  Sunny

In [107]:
df.tail(1)   # it starts from borrom of the df and head fxn start from head of the df

        day temperature windspeed  event
5  1/6/2017          31         2  Sunny

In [108]:
df[2:5]  # it prints row from 2-4 but row 5 is not include in that

        day temperature windspeed event
2  1/3/2017          28         2  Snow
3  1/4/2017          24         7  Snow
4  1/5/2017          32         4  Rain

In [109]:
df.columns # it prints all the columns present in data frames

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [110]:
df['event'] #it is used to print the specific colum and the data of that column

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [111]:
type(df['day'])  # it is used to find the type of the columns

pandas.core.series.Series

In [112]:
df[['day','temperature','windspeed','event']] # it is used  when we want only some columns

        day temperature windspeed  event
0  1/1/2017          32         6   Rain
1  1/2/2017          35         7  Sunny
2  1/3/2017          28         2   Snow
3  1/4/2017          24         7   Snow
4  1/5/2017          32         4   Rain
5  1/6/2017          31         2  Sunny

In [113]:
df['temperature'].max()   # for find the max temp form df

'35'

In [114]:
df['temperature'].min()  # for find the min. temperature from df

'24'

In [115]:
df.describe()  # this function performs all the static operations on data frames

             day temperature windspeed event
count          6           6         6     6
unique         6           5         4     3
top     1/4/2017          32         7  Snow
freq           1           2         2     2

### condition selectivity of dataframes

In [116]:
df[df.temperature==df.temperature.max()]   #a condition is used to select the row from df

        day temperature windspeed  event
1  1/2/2017          35         7  Sunny

In [117]:
df[['day','temperature']][df.temperature==df.temperature.max()]  # for find particular day or temprature fom df using conditionselectivity

        day temperature
1  1/2/2017          35

### set_index in df

In [119]:
df.index # it show the index of my current df

RangeIndex(start=0, stop=6, step=1)

In [120]:
df.set_index('day',inplace=True) #here we change the index of df
df

         temperature windspeed  event
day
1/1/2017          32         6   Rain
1/2/2017          35         7  Sunny
1/3/2017          28         2   Snow
1/4/2017          24         7   Snow
1/5/2017          32         4   Rain
1/6/2017          31         2  Sunny

In [122]:
df.loc['1/4/2017']  # after changing loc we can use loc command to find the particular dada on that location

temperature      24
windspeed         7
event          Snow
Name: 1/4/2017, dtype: object

In [123]:
# if we want to reset the index of df 
df.reset_index(inplace=True)
df

        day temperature windspeed  event
0  1/1/2017          32         6   Rain
1  1/2/2017          35         7  Sunny
2  1/3/2017          28         2   Snow
3  1/4/2017          24         7   Snow
4  1/5/2017          32         4   Rain
5  1/6/2017          31         2  Sunny

In [124]:
df.set_index('event',inplace=True) #here we change the index of df
df

            day temperature windspeed
event
Rain   1/1/2017          32         6
Sunny  1/2/2017          35         7
Snow   1/3/2017          28         2
Snow   1/4/2017          24         7
Rain   1/5/2017          32         4
Sunny  1/6/2017          31         2

In [126]:
df.loc['Snow']    # we have multiple no of evvents with same name

            day temperature windspeed
event
Snow   1/3/2017          28         2
Snow   1/4/2017          24         7